@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  margin: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: #e2e8f0;
  padding: 0.5rem;
}
html {
  /* background-color: rgb(220 252 231); */
  background-image: url('../../images/background.jpg');
  background-size: cover;
  height: 100%;
  background-position: center; 
}
